<!DOCTYPE html>
<html lang="en" dir="ltr">

<head  >
  <meta charset="utf-8">
  <title>CHEAT SHEET </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand"><a class="aa" href="/">CHEAT SHEET</a></p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home"><a href="/home">HOME</a></li>
          <li id="about"><a href="/about">ABOUT US</a></li>
          <li id="contact"><a href="/contact">CONTACT US</a></li>
        </ul>
    </div>
  </nav>

  <body class="homepage" >
     
    <div class="container" >
<br><br><br>
        <h1 >WELCOME TO MY CHEATSHEET SITE </h1>
        <br><br>

    <div class="row">
<div class="col-sm-6">
    <br><br><br>
    <h1>LEARN</h1>
    <p>javascript with me using CheatSheet</p>
    <button type="button" class="btn btn-light bt_bg"><a href="/home">CLICK ME</a> </button>


    <br><br>

</div>
<div class="col-sm-6">

 <img src="images/js.png" alt="">

</div>


    </div>





    </div>
    <div class="footer-padding" ></div>
      <div class="footer" style="background-color: transparent;margin-top: 16rem ;" >
        <p>Made by The AMUO</p>
      </div>

    </div>

    </body>
    </html>
    